/**
 * Default theme colours and styles
 */
$hint: #00d902;
$background-hint: #f1f1f1;
$primary-text: #202020;
$subtitle-text: #808080;

$container-width: 900px;

$gallery-projects-per-row: 3;
$gallery-projects-item-padding: 2rem;

$disabled-text: #787878;
